<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=773c6b04-d579-424f-88f6-c73e575ee19e"></script>
        <title>{{htmlWebpackPlugin.options.title}}</title>
    </head>
    <body>
        <div class="container">
            {{> "./src/templates/geo.hbs"}}
        </div>
    </body>
</html>
