<div class="reviews_block">
    {{#each reviewsArr}}
        <div class="review_wrapper">
            <span>{{name}}</span>
            <span>{{place}}</span>
            <span>{{date}}</span>
            <div>{{text}}</div>
        </div>
    {{/each}}
</div>